<div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 notice">          
        <img class="img-responsive img-circle center-block " src="sqwirrel_logo1.png">
        <hr> <!-- Horizontal Line -->
        <h3 class="anz">TITEL</h3>
        <p class="anz">Teams/Bands/Künstler</p>
        <p class="anz">TT.MM.JJJJ</p>
        <p class="anz">Ort</p>
        <h5 class="anz">PREIS</h5>
        <p class="anz"><a href="#" class="btn btn-primary " role="button">Details</a></p>                    
    </div> <!-- End Col 12 -->
</div><!-- End Col 12 6 4 4 -->